@media screen and (min-width: 992px){ /*Tela Grande*/
    header{
        background-image: none ;
        justify-content: space-around;
        align-items: center;
    }
    header > h2{
        font-size: 2em;
        color: #383B48;
    }
    header > nav{
        display: flex;
        gap: 20px;
        background-color: rgb(255, 255, 255);
    }
    nav >a {
        font-size: 1.2em;
        text-decoration: none;
        padding-bottom: 2px;
        border-bottom: solid transparent;
        transition: 0.4s;
        color: rgba(0, 0, 0, 0.493);
    }
    nav >a:hover{
        border-bottom: solid black 1px;
        color: black;
    }
    a.area{
        border-bottom: solid black 2px;
        color: black;
    }
    .area:hover{
        border-bottom: solid black 2px;
        color: black;
    }
    a#car{
        padding-left: 10px;
        border-left: solid rgba(0, 0, 0, 0.253) 1px;
    }
    /* BLOCO 1 */
    #bloco1{
        display: flex;
        justify-content: space-evenly;
    }
    #side1{
        margin-top: 60px;
        width: 24%;
    }
    #bloco1 > #side1 > h1{
        font-size: 2.5em;
        width: 115%;
    }
    #side1 > button{
        margin: 40px 0px 0px 0px;
        font-size: 1em;
    }
    #side1 > button:active{
        background-color: #fff8cd;
        transition: 0s;
    }
    #bloco1 > img{
        width: 24%;
        display: block;
    }

    /* BLOCO 2 */
    #bloco2{
        display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0px;
    background-color: rgb(255, 255, 255);
    width: 68%;
    margin: 40px auto;
    background-position: 50% 50%;
    background-size: 100%;
    }
    .caixa{
        width: 360px;
        margin: 0px;
    }
    #bloco2 > a > .caixa > img{
        width: 42%;
    }
    #bloco2 > button{
        margin-top: 40px;
        
    }
    #bloco2 > button:active{
        background-color: #fff8cd;
        transition: 0s;
    }
    #button-place{
        background-color: rgb(173, 230, 197);
        text-align: center;
    }
    #button-place > button{
        font-size: 1.4em;
        width: 20%;
        margin: 10px 10px;
    }
    /* BLOCO 3 */
    #bloco3{
        display: flex;
        padding: 60px 108px;
    }
}