@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(255, 255, 255);
    font-family:Georgia, 'Times New Roman', Times, serif ;
    color: #383B48 ;
}
img{
    /* width: 300px; */
}

/* HEADER */
header{
    background-image: url(../img/background.webp);
    background-position: 50% 0%;
    display: flex;
    padding: 20px 10px;
}
header > h2{
    font-size: 18px;
}
header > nav{
    display: none;
}
/* botão animação */
button:hover{
    cursor: pointer;
    background-color: #ffde08;
    box-shadow: 0px 1px 9px 2px rgba(0, 0, 0, 0.123);
}
button:active{
    cursor: pointer;
    background-color: #fff8c8;
    box-shadow: 0px 1px 9px 2px rgba(0, 0, 0, 0.123);
    transition: 0s;
}
/* BLOCO 1 */
#bloco1{
    background-color:rgb(173, 230, 197);
    background-position: 50% 50%;
    font-size: 27px;
    padding: 40px 0px 0px 10px;
    background-image: url(../img/suco-principal.png);
    background-repeat: no-repeat;
    background-position: 900% -50%;
    background-size: 350px;
}
#bloco1 > #side1 > h1{
    width: 75%;
    
}
#linha{
    border-top: solid rgb(255, 255, 171);
    width: 70px;
    border-radius: 10px;
    margin: 15px 0px;
}
button{
    padding: 15px 30px;
    transition: 0.5s;
    border: none;
    border-radius: 5px;
    background-color: #FEEF87;
    font-weight: normal;
}
#bloco1 > #side1 > button{
    margin: 20px 0px;
    font-size: 0.8em;
}
#bloco1 > img{
    width: 98%;
    display: none;
}

/* BLOCO 2 */
#bloco2{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0px 10px 20px 20px;
    
}
#bloco2 > a{
    text-decoration: none;
    color: #383B48 ;
}
.caixa{
    background-color: white;
    text-align: center;
    padding: 6px 1px;
    margin-top: 2px;
    transition: 0.5s;
    cursor: pointer;
}
.caixa:hover{
    transform: scale(115%);
    box-shadow: 0px 1px 9px 2px rgba(0, 0, 0, 0.123);
}
.caixa > h4{
    padding: 10px 0px 5px 0px;
    
}
#bloco2 > a >.caixa > img{
    width: 80px;
    
}
#button-place{
    background-color: rgb(173, 230, 197);
    text-align: center;
}
#button-place > button{
    font-size: 1.2em;
    width: 80%;
    margin: 10px 10px;
}

/* FOOTER */
footer{
    background-image: url(../img/background.webp);
    background-position: 86% 81%;
    padding: 20px 50px;
    text-align: center;
}
footer > p{
    line-height: 30px;
}
footer > p > a{
    text-decoration: underline;
    color: rgb(118, 119, 128);
}
footer > p > a:hover{
    color: rgb(166, 198, 255);
}